.home {
  margin-top: 7rem;
}

.Left-Home {
  color: white;
  p {
    font-size: 28px;
    letter-spacing: 4.75px;
  }
  h1 {
    font-size: 150px;
    margin: 0 0 2rem 0;
  }
  span {
    display: inline-block;
    max-width: 400px;
    line-height: 1.5rem;
  }
}

.gridExplore {
  padding-top: 6rem;
  position: relative;
  overflow: hidden;
  .explore {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bellefair", serif;
    font-size: 32px;
    background-color: white;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    color: black;
    text-decoration: none;
    z-index: 4;
  }
  .explore-hover {
    position: absolute;
    background-color: transparent;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    top: 2.3rem;
    left: 9rem;
    z-index: 0;
    transition: all ease .4s;
  }
  
  .explore:hover {
    .explore-hover {
      display: block;
    }
  }
}
