:root {
  //color
  --main-white: #ffff;
  --main-dark: #080d17;
  --main-blue: #d0d6f9;

  //Typography
  --heading-one: 150px;
  --heading-two: 100px;
  --heading-three: 56px;
  --heading-four: 32px;
  --heading-five: 28px;

  --sub-heading1: 28px;
  --sub-heading2-size: 14px;
  --sub-heading2-space: 2.35px;
  --nav-text-size: 16px;
  --nav-text-space: 2.7px;

  --body-font-size: 18px;

  --font-family: "Bellefair", serif;
}